<?xml version="1.0" encoding="utf-8" standalone="no"?>
{#
  Plantilla UBL 2.1 Factura/Boleta (SUNAT Perú)
  Fiel traducción de invoice.blade.php de CoreFacturalo.

  Variables de contexto:
    company.legal_number              → $company->number
    company.trade_name → $company->trade_name
    company.legal_name       → $company->name
    company.signature_uri    → config('configuration.signature_uri')
    company.signature_note   → config('configuration.signature_note')
    document.*               → $document->* (totales aplanados en contexto)
    document.establishment.* → $establishment->* (con province/department/district como strings)
    document.customer.*      → $customer->*
    document.operation_type_id → $invoice->operation_type_id
    document['items']        → $document->items
#}
<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
         xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
         xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
         xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
         xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2">
    <ext:UBLExtensions>
        <ext:UBLExtension>
            <ext:ExtensionContent/>
        </ext:UBLExtension>
    </ext:UBLExtensions>
    <cbc:UBLVersionID>2.1</cbc:UBLVersionID>
    <cbc:CustomizationID>2.0</cbc:CustomizationID>
    <cbc:ID>{{ document.series }}-{{ document.number }}</cbc:ID>
    <cbc:IssueDate>{{ document.date_of_issue }}</cbc:IssueDate>
    <cbc:IssueTime>{{ document.time_of_issue }}</cbc:IssueTime>
    {% if document.date_of_due %}
    <cbc:DueDate>{{ document.date_of_due }}</cbc:DueDate>
    {% endif %}
    <cbc:InvoiceTypeCode listID="{{ document.operation_type_id or '0101' }}">{{ document.document_type_id }}</cbc:InvoiceTypeCode>
    {% for leg in document.legends or [] %}
    <cbc:Note languageLocaleID="{{ leg.code }}"><![CDATA[{{ leg.value }}]]></cbc:Note>
    {% endfor %}
    <cbc:DocumentCurrencyCode>{{ document.currency_type_id }}</cbc:DocumentCurrencyCode>
    {% if document.purchase_order %}
    <cac:OrderReference>
        <cbc:ID>{{ document.purchase_order }}</cbc:ID>
    </cac:OrderReference>
    {% endif %}
    {% for guide in document.guides or [] %}
    {% if guide.document_type_id != '31' %}
    <cac:DespatchDocumentReference>
        <cbc:ID>{{ guide.number }}</cbc:ID>
        <cbc:DocumentTypeCode>{{ guide.document_type_id }}</cbc:DocumentTypeCode>
    </cac:DespatchDocumentReference>
    {% endif %}
    {% endfor %}
    {% for rel in document.related or [] %}
    <cac:AdditionalDocumentReference>
        <cbc:ID>{{ rel.number }}</cbc:ID>
        <cbc:DocumentTypeCode>{{ rel.document_type_id }}</cbc:DocumentTypeCode>
    </cac:AdditionalDocumentReference>
    {% endfor %}
    {% for prepay in document.prepayments or [] %}
    <cac:AdditionalDocumentReference>
        <cbc:ID>{{ prepay.number }}</cbc:ID>
        <cbc:DocumentTypeCode>{{ prepay.document_type_id }}</cbc:DocumentTypeCode>
        <cbc:DocumentStatusCode>{{ loop.index }}</cbc:DocumentStatusCode>
        <cac:IssuerParty>
            <cac:PartyIdentification>
                <cbc:ID schemeID="6">{{ company.legal_number }}</cbc:ID>
            </cac:PartyIdentification>
        </cac:IssuerParty>
    </cac:AdditionalDocumentReference>
    {% endfor %}
    <cac:Signature>
        <cbc:ID>{{ company.signature_uri or 'IDFirma' }}</cbc:ID>
        <cbc:Note>{{ company.signature_note or 'Empresa emisora' }}</cbc:Note>
        <cac:SignatoryParty>
            <cac:PartyIdentification>
                <cbc:ID>{{ company.legal_number }}</cbc:ID>
            </cac:PartyIdentification>
            <cac:PartyName>
                <cbc:Name><![CDATA[{{ company.trade_name }}]]></cbc:Name>
            </cac:PartyName>
        </cac:SignatoryParty>
        <cac:DigitalSignatureAttachment>
            <cac:ExternalReference>
                <cbc:URI>#{{ company.signature_uri or 'IDFirma' }}</cbc:URI>
            </cac:ExternalReference>
        </cac:DigitalSignatureAttachment>
    </cac:Signature>
    <cac:AccountingSupplierParty>
        <cac:Party>
                <cac:PartyIdentification>
                <cbc:ID schemeID="6">{{ company.legal_number }}</cbc:ID>
            </cac:PartyIdentification>
            <cac:PartyName>
                <cbc:Name><![CDATA[{{ company.trade_name }}]]></cbc:Name>
            </cac:PartyName>
            <cac:PartyLegalEntity>
                <cbc:RegistrationName><![CDATA[{{ company.legal_name }}]]></cbc:RegistrationName>
                <cac:RegistrationAddress>
                    <cbc:ID>{{ document.establishment.district_id }}</cbc:ID>
                    <cbc:AddressTypeCode>{{ document.establishment.code or '0000' }}</cbc:AddressTypeCode>
                    {% if document.establishment.urbanization %}
                    <cbc:CitySubdivisionName>{{ document.establishment.urbanization }}</cbc:CitySubdivisionName>
                    {% endif %}
                    <cbc:CityName>{{ document.establishment.province }}</cbc:CityName>
                    <cbc:CountrySubentity>{{ document.establishment.department }}</cbc:CountrySubentity>
                    <cbc:District>{{ document.establishment.district }}</cbc:District>
                    {% if document.establishment.address and document.establishment.address != '-' %}
                    <cac:AddressLine>
                        <cbc:Line><![CDATA[{{ document.establishment.address }}]]></cbc:Line>
                    </cac:AddressLine>
                    {% endif %}
                    <cac:Country>
                        <cbc:IdentificationCode>{{ document.establishment.country_id or 'PE' }}</cbc:IdentificationCode>
                    </cac:Country>
                </cac:RegistrationAddress>
            </cac:PartyLegalEntity>
            {% if document.establishment.email or document.establishment.telephone %}
            <cac:Contact>
                {% if document.establishment.telephone %}
                <cbc:Telephone>{{ document.establishment.telephone }}</cbc:Telephone>
                {% endif %}
                {% if document.establishment.email %}
                <cbc:ElectronicMail>{{ document.establishment.email }}</cbc:ElectronicMail>
                {% endif %}
            </cac:Contact>
            {% endif %}
        </cac:Party>
    </cac:AccountingSupplierParty>
    <cac:AccountingCustomerParty>
        <cac:Party>
            <cac:PartyIdentification>
                <cbc:ID schemeID="{{ document.customer.identity_document_type_id }}">{{ document.customer.number }}</cbc:ID>
            </cac:PartyIdentification>
            <cac:PartyLegalEntity>
                <cbc:RegistrationName><![CDATA[{{ document.customer.name }}]]></cbc:RegistrationName>
                {% if document.customer.address and document.customer.address != '-' %}
                <cac:RegistrationAddress>
                    {% if document.customer.district_id %}
                    <cbc:ID>{{ document.customer.district_id }}</cbc:ID>
                    {% endif %}
                    <cac:AddressLine>
                        <cbc:Line><![CDATA[{{ document.customer.address }}]]></cbc:Line>
                    </cac:AddressLine>
                    <cac:Country>
                        <cbc:IdentificationCode>{{ document.customer.country_id or 'PE' }}</cbc:IdentificationCode>
                    </cac:Country>
                </cac:RegistrationAddress>
                {% endif %}
            </cac:PartyLegalEntity>
            {% if document.customer.email or document.customer.telephone %}
            <cac:Contact>
                {% if document.customer.telephone %}
                <cbc:Telephone>{{ document.customer.telephone }}</cbc:Telephone>
                {% endif %}
                {% if document.customer.email %}
                <cbc:ElectronicMail>{{ document.customer.email }}</cbc:ElectronicMail>
                {% endif %}
            </cac:Contact>
            {% endif %}
        </cac:Party>
    </cac:AccountingCustomerParty>
    {% if document.currency_type_id != 'PEN' and document.exchange_rate %}
    <cac:TaxExchangeRate>
        <cbc:SourceCurrencyCode>{{ document.currency_type_id }}</cbc:SourceCurrencyCode>
        <cbc:TargetCurrencyCode>PEN</cbc:TargetCurrencyCode>
        <cbc:CalculationRate>{{ document.exchange_rate.factor }}</cbc:CalculationRate>
        <cbc:Date>{{ document.exchange_rate.date }}</cbc:Date>
    </cac:TaxExchangeRate>
    {% endif %}
    {% if document.detraction %}
    <cac:PaymentMeans>
        <cbc:ID>Detraccion</cbc:ID>
        <cbc:PaymentMeansCode>{{ document.detraction.payment_method_id }}</cbc:PaymentMeansCode>
        <cac:PayeeFinancialAccount>
            <cbc:ID>{{ document.detraction.bank_account }}</cbc:ID>
        </cac:PayeeFinancialAccount>
    </cac:PaymentMeans>
    <cac:PaymentTerms>
        <cbc:ID>Detraccion</cbc:ID>
        <cbc:PaymentMeansID>{{ document.detraction.detraction_type_id }}</cbc:PaymentMeansID>
        <cbc:PaymentPercent>{{ document.detraction.percentage }}</cbc:PaymentPercent>
        <cbc:Amount currencyID="PEN">{{ document.detraction.amount }}</cbc:Amount>
    </cac:PaymentTerms>
    {% endif %}
    {% if document.payment_condition_id == '01' %}
    <cac:PaymentTerms>
        <cbc:ID>FormaPago</cbc:ID>
        <cbc:PaymentMeansID>Contado</cbc:PaymentMeansID>
    </cac:PaymentTerms>
    {% endif %}
    {% if document.payment_condition_id == '02' %}
    <cac:PaymentTerms>
        <cbc:ID>FormaPago</cbc:ID>
        <cbc:PaymentMeansID>Credito</cbc:PaymentMeansID>
        <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ document.fee_total or '0.00' }}</cbc:Amount>
    </cac:PaymentTerms>
    {% for fee in document.fee or [] %}
    <cac:PaymentTerms>
        <cbc:ID>FormaPago</cbc:ID>
        <cbc:PaymentMeansID>Cuota{{ '%03d' % loop.index }}</cbc:PaymentMeansID>
        <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ fee.amount }}</cbc:Amount>
        <cbc:PaymentDueDate>{{ fee.date }}</cbc:PaymentDueDate>
    </cac:PaymentTerms>
    {% endfor %}
    {% endif %}
    {% if document.perception_charge %}
    <cac:PaymentTerms>
        <cbc:ID>Percepcion</cbc:ID>
        <cbc:Amount currencyID="PEN">{{ document.perception_charge.amount }}</cbc:Amount>
    </cac:PaymentTerms>
    {% endif %}
    {% for prepay in document.prepayments or [] %}
    <cac:PrepaidPayment>
        <cbc:ID>{{ loop.index }}</cbc:ID>
        <cbc:PaidAmount currencyID="{{ document.currency_type_id }}">{{ prepay.total }}</cbc:PaidAmount>
    </cac:PrepaidPayment>
    {% endfor %}
    {% for charge in document.charges or [] %}
    <cac:AllowanceCharge>
        <cbc:ChargeIndicator>true</cbc:ChargeIndicator>
        <cbc:AllowanceChargeReasonCode>{{ charge.charge_type_id }}</cbc:AllowanceChargeReasonCode>
        <cbc:MultiplierFactorNumeric>{{ charge.factor | decimal6 }}</cbc:MultiplierFactorNumeric>
        <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ charge.amount | decimal2 }}</cbc:Amount>
        <cbc:BaseAmount currencyID="{{ document.currency_type_id }}">{{ charge.base | decimal2 }}</cbc:BaseAmount>
    </cac:AllowanceCharge>
    {% endfor %}
    {% for discount in document.discounts or [] %}
    <cac:AllowanceCharge>
        <cbc:ChargeIndicator>false</cbc:ChargeIndicator>
        <cbc:AllowanceChargeReasonCode>{{ discount.discount_type_id }}</cbc:AllowanceChargeReasonCode>
        <cbc:MultiplierFactorNumeric>{{ discount.factor }}</cbc:MultiplierFactorNumeric>
        <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ discount.amount }}</cbc:Amount>
        <cbc:BaseAmount currencyID="{{ document.currency_type_id }}">{{ discount.base }}</cbc:BaseAmount>
    </cac:AllowanceCharge>
    {% endfor %}
    {% if document.perception_charge %}
    <cac:AllowanceCharge>
        <cbc:ChargeIndicator>true</cbc:ChargeIndicator>
        <cbc:AllowanceChargeReasonCode>{{ document.perception_charge.code }}</cbc:AllowanceChargeReasonCode>
        <cbc:MultiplierFactorNumeric>{{ document.perception_charge.percentage }}</cbc:MultiplierFactorNumeric>
        <cbc:Amount currencyID="PEN">{{ document.perception_charge.amount }}</cbc:Amount>
        <cbc:BaseAmount currencyID="PEN">{{ document.perception_charge.base }}</cbc:BaseAmount>
    </cac:AllowanceCharge>
    {% endif %}
    {% if document.retention_charge %}
    <cac:AllowanceCharge>
        <cbc:ChargeIndicator>false</cbc:ChargeIndicator>
        <cbc:AllowanceChargeReasonCode>{{ document.retention_charge.code }}</cbc:AllowanceChargeReasonCode>
        <cbc:MultiplierFactorNumeric>{{ document.retention_charge.percentage }}</cbc:MultiplierFactorNumeric>
        <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ document.retention_charge.amount }}</cbc:Amount>
        <cbc:BaseAmount currencyID="{{ document.currency_type_id }}">{{ document.retention_charge.base }}</cbc:BaseAmount>
    </cac:AllowanceCharge>
    {% endif %}
    <cac:TaxTotal>
        <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ document.total_taxes }}</cbc:TaxAmount>
        {% if document.total_isc | float > 0 %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_base_isc }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ document.total_isc }}</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>2000</cbc:ID>
                    <cbc:Name>ISC</cbc:Name>
                    <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_taxed | float > 0 or (document.prepayments and document.total_taxed | float >= 0) %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_taxed }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ document.total_igv }}</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>1000</cbc:ID>
                    <cbc:Name>IGV</cbc:Name>
                    <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_unaffected | float > 0 or (document.prepayments and document.total_unaffected | float >= 0) %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_unaffected }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">0.00</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9998</cbc:ID>
                    <cbc:Name>INA</cbc:Name>
                    <cbc:TaxTypeCode>FRE</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_exonerated | float > 0 or (document.prepayments and document.total_exonerated | float >= 0) %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_exonerated }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">0.00</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9997</cbc:ID>
                    <cbc:Name>EXO</cbc:Name>
                    <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_free | float > 0 %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_free }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ document.total_igv_free or '0.00' }}</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9996</cbc:ID>
                    <cbc:Name>GRA</cbc:Name>
                    <cbc:TaxTypeCode>FRE</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_exportation | float > 0 %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_exportation }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">0.00</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9995</cbc:ID>
                    <cbc:Name>EXP</cbc:Name>
                    <cbc:TaxTypeCode>FRE</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_other_taxes | float > 0 %}
        <cac:TaxSubtotal>
            <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ document.total_other_taxes }}</cbc:TaxableAmount>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ document.total_base_other_taxes }}</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9999</cbc:ID>
                    <cbc:Name>OTROS</cbc:Name>
                    <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
        {% if document.total_plastic_bag_taxes | float > 0 %}
        <cac:TaxSubtotal>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ document.total_plastic_bag_taxes }}</cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>7152</cbc:ID>
                    <cbc:Name>ICBPER</cbc:Name>
                    <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
        {% endif %}
    </cac:TaxTotal>
    <cac:LegalMonetaryTotal>
        <cbc:LineExtensionAmount currencyID="{{ document.currency_type_id }}">{{ document.total_value }}</cbc:LineExtensionAmount>
        {% set tot_charges = document.tot_charges | float if document.tot_charges else 0 %}
        {% if tot_charges > 0 %}
        <cbc:TaxInclusiveAmount currencyID="{{ document.currency_type_id }}">{{ (document.total | float - tot_charges) | round(2) }}</cbc:TaxInclusiveAmount>
        {% else %}
        <cbc:TaxInclusiveAmount currencyID="{{ document.currency_type_id }}">{{ document.subtotal or document.total }}</cbc:TaxInclusiveAmount>
        {% endif %}
        {% set total_discount_no_base = document.total_discount_no_base | float if document.total_discount_no_base else 0 %}
        {% if total_discount_no_base > 0 %}
        <cbc:AllowanceTotalAmount currencyID="{{ document.currency_type_id }}">{{ total_discount_no_base }}</cbc:AllowanceTotalAmount>
        {% endif %}
        {% if document.total_charge | float > 0 %}
        <cbc:ChargeTotalAmount currencyID="{{ document.currency_type_id }}">{{ document.total_charge }}</cbc:ChargeTotalAmount>
        {% endif %}
        {% if document.total_prepayment | float > 0 %}
        <cbc:PrepaidAmount currencyID="{{ document.currency_type_id }}">{{ document.total_prepayment }}</cbc:PrepaidAmount>
        {% endif %}
        <cbc:PayableAmount currencyID="{{ document.currency_type_id }}">{{ document.total }}</cbc:PayableAmount>
    </cac:LegalMonetaryTotal>
    {% for row in document['items'] %}
    <cac:InvoiceLine>
        <cbc:ID>{{ loop.index }}</cbc:ID>
        <cbc:InvoicedQuantity unitCode="{{ row.unit_type_id }}">{{ row.quantity }}</cbc:InvoicedQuantity>
        <cbc:LineExtensionAmount currencyID="{{ document.currency_type_id }}">{{ row.total_value }}</cbc:LineExtensionAmount>
        <cac:PricingReference>
            <cac:AlternativeConditionPrice>
                <cbc:PriceAmount currencyID="{{ document.currency_type_id }}">{{ row.unit_price }}</cbc:PriceAmount>
                <cbc:PriceTypeCode>{{ row.price_type_id }}</cbc:PriceTypeCode>
            </cac:AlternativeConditionPrice>
        </cac:PricingReference>
        {% if document.detraction and document.operation_type_id == '1004' %}
        <cac:Delivery>
            <cac:DeliveryLocation>
                <cac:Address>
                    <cbc:ID>{{ document.detraction.delivery_location_id }}</cbc:ID>
                    <cac:AddressLine>
                        <cbc:Line>{{ document.detraction.delivery_address }}</cbc:Line>
                    </cac:AddressLine>
                </cac:Address>
            </cac:DeliveryLocation>
            <cac:Despatch>
                <cbc:Instructions>{{ document.detraction.trip_detail }}</cbc:Instructions>
                <cac:DespatchAddress>
                    <cbc:ID>{{ document.detraction.origin_location_id }}</cbc:ID>
                    <cac:AddressLine>
                        <cbc:Line>{{ document.detraction.origin_address }}</cbc:Line>
                    </cac:AddressLine>
                </cac:DespatchAddress>
            </cac:Despatch>
            <cac:DeliveryTerms>
                <cbc:ID>01</cbc:ID>
                <cbc:Amount currencyID="PEN">{{ document.detraction.reference_value_service }}</cbc:Amount>
            </cac:DeliveryTerms>
            <cac:DeliveryTerms>
                <cbc:ID>02</cbc:ID>
                <cbc:Amount currencyID="PEN">{{ document.detraction.reference_value_effective_load }}</cbc:Amount>
            </cac:DeliveryTerms>
            <cac:DeliveryTerms>
                <cbc:ID>03</cbc:ID>
                <cbc:Amount currencyID="PEN">{{ document.detraction.reference_value_payload }}</cbc:Amount>
            </cac:DeliveryTerms>
        </cac:Delivery>
        {% endif %}
        {% for charge in row.charges or [] %}
        <cac:AllowanceCharge>
            <cbc:ChargeIndicator>true</cbc:ChargeIndicator>
            <cbc:AllowanceChargeReasonCode>{{ charge.charge_type_id }}</cbc:AllowanceChargeReasonCode>
            <cbc:MultiplierFactorNumeric>{{ charge.factor }}</cbc:MultiplierFactorNumeric>
            <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ charge.amount }}</cbc:Amount>
            <cbc:BaseAmount currencyID="{{ document.currency_type_id }}">{{ charge.base }}</cbc:BaseAmount>
        </cac:AllowanceCharge>
        {% endfor %}
        {% for discount in row.discounts or [] %}
        <cac:AllowanceCharge>
            <cbc:ChargeIndicator>false</cbc:ChargeIndicator>
            <cbc:AllowanceChargeReasonCode>{{ discount.discount_type_id }}</cbc:AllowanceChargeReasonCode>
            <cbc:MultiplierFactorNumeric>{{ discount.factor }}</cbc:MultiplierFactorNumeric>
            <cbc:Amount currencyID="{{ document.currency_type_id }}">{{ discount.amount }}</cbc:Amount>
            <cbc:BaseAmount currencyID="{{ document.currency_type_id }}">{{ discount.base }}</cbc:BaseAmount>
        </cac:AllowanceCharge>
        {% endfor %}
        <cac:TaxTotal>
            <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ row.total_taxes }}</cbc:TaxAmount>
            {% if row.total_isc | float > 0 %}
            <cac:TaxSubtotal>
                <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ row.total_base_isc }}</cbc:TaxableAmount>
                <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ row.total_isc }}</cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:Percent>{{ row.percentage_isc }}</cbc:Percent>
                    <cbc:TierRange>{{ row.system_isc_type_id }}</cbc:TierRange>
                    <cac:TaxScheme>
                        <cbc:ID>2000</cbc:ID>
                        <cbc:Name>ISC</cbc:Name>
                        <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
            {% endif %}
            <cac:TaxSubtotal>
                <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ row.total_base_igv }}</cbc:TaxableAmount>
                <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ row.total_igv }}</cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:Percent>{{ row.percentage_igv }}</cbc:Percent>
                    <cbc:TaxExemptionReasonCode>{{ row.affectation_igv_type_id }}</cbc:TaxExemptionReasonCode>
                    {% set aff = get_affectation_tribute(row.affectation_igv_type_id) %}
                    <cac:TaxScheme>
                        <cbc:ID>{{ aff.id }}</cbc:ID>
                        <cbc:Name>{{ aff.name }}</cbc:Name>
                        <cbc:TaxTypeCode>{{ aff.code }}</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
            {% if row.total_other_taxes | float > 0 %}
            <cac:TaxSubtotal>
                <cbc:TaxableAmount currencyID="{{ document.currency_type_id }}">{{ row.total_base_other_taxes }}</cbc:TaxableAmount>
                <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ row.total_other_taxes }}</cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:Percent>{{ row.percentage_other_taxes }}</cbc:Percent>
                    <cac:TaxScheme>
                        <cbc:ID>9999</cbc:ID>
                        <cbc:Name>OTROS</cbc:Name>
                        <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
            {% endif %}
            {% if row.total_plastic_bag_taxes | float > 0 %}
            <cac:TaxSubtotal>
                <cbc:TaxAmount currencyID="{{ document.currency_type_id }}">{{ row.total_plastic_bag_taxes }}</cbc:TaxAmount>
                <cbc:BaseUnitMeasure unitCode="NIU">{{ row.quantity | float | round(0) | int }}</cbc:BaseUnitMeasure>
                <cac:TaxCategory>
                    <cbc:PerUnitAmount currencyID="{{ document.currency_type_id }}">{{ row.amount_plastic_bag_taxes }}</cbc:PerUnitAmount>
                    <cac:TaxScheme>
                        <cbc:ID>7152</cbc:ID>
                        <cbc:Name>ICBPER</cbc:Name>
                        <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
            {% endif %}
        </cac:TaxTotal>
        <cac:Item>
            {% if row.name_product_xml %}
            <cbc:Description><![CDATA[{{ row.name_product_xml }}]]></cbc:Description>
            {% else %}
            <cbc:Description><![CDATA[{{ row.description }}]]></cbc:Description>
            {% endif %}
            {% if row.internal_id %}
            <cac:SellersItemIdentification>
                <cbc:ID>{{ row.internal_id }}</cbc:ID>
            </cac:SellersItemIdentification>
            {% endif %}
            {% if row.item_code %}
            <cac:CommodityClassification>
                <cbc:ItemClassificationCode>{{ row.item_code }}</cbc:ItemClassificationCode>
            </cac:CommodityClassification>
            {% endif %}
            {% if row.item_code_gs1 %}
            <cac:StandardItemIdentification>
                <cbc:ID>{{ row.item_code_gs1 }}</cbc:ID>
            </cac:StandardItemIdentification>
            {% endif %}
            {% for attr in row.attributes or [] %}
            <cac:AdditionalItemProperty>
                <cbc:Name><![CDATA[{{ attr.description }}]]></cbc:Name>
                <cbc:NameCode>{{ attr.attribute_type_id }}</cbc:NameCode>
                {% if attr.value %}
                <cbc:Value>{{ attr.value }}</cbc:Value>
                {% endif %}
                {% if attr.start_date or attr.end_date or attr.duration %}
                <cac:UsabilityPeriod>
                    {% if attr.start_date %}
                    <cbc:StartDate>{{ attr.start_date }}</cbc:StartDate>
                    {% endif %}
                    {% if attr.end_date %}
                    <cbc:EndDate>{{ attr.end_date }}</cbc:EndDate>
                    {% endif %}
                    {% if attr.duration %}
                    <cbc:DurationMeasure unitCode="DAY">{{ attr.duration }}</cbc:DurationMeasure>
                    {% endif %}
                </cac:UsabilityPeriod>
                {% endif %}
            </cac:AdditionalItemProperty>
            {% endfor %}
        </cac:Item>
        <cac:Price>
            <cbc:PriceAmount currencyID="{{ document.currency_type_id }}">{{ row.unit_value }}</cbc:PriceAmount>
        </cac:Price>
    </cac:InvoiceLine>
    {% endfor %}
</Invoice>
